/*** BASE STYLES ***/

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #454545;
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
}

.page {
    /* mobile-- width: 100%; */
    /* tablet/desktop-- see below */
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

/*** HEADER ***/

header {
    padding: 0.25em 0;
    text-align: center;
}

.number-emphasis {
    font-size: 1.25em;/*update font-size once I've got a better handle on responsive design*/
    color: rgba(241, 96, 89, 1);
}

/*** POP-UP MODAL WITH INSTRUCTIONS FOR THE USER ***/

.modal {
    visibility: hidden;
}

/*** MAGIC EIGHT BALL OBJECT AND Q&A PROCESSES ***/

.ball, .button {
    margin: 0 auto;
    /*position: relative;*/
     /* Why this and does it help with mobile? */
    /* they had width: 80%; does it fit what I want? */
}

.ball {
    padding-bottom: 3em;
}

.button {
    padding: 1.5em 0;
}

/*** SHAKE THE MAGIC EIGHT BALL IMAGE USING CSS ***/

/* source code for shaking effect courtesy of https://www.w3schools.com/howto/howto_css_shake_image.asp, accessed 01.15.19).*/

.shaking {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#question-btn:hover {
    border: red solid 10px;
    cursor: pointer;
}

/*** ANSWER STYLING AND FADE IN TRANSITION ***/

#answer {
    text-align: center;
    opacity: 1;
    width: 12%;
    position: absolute;
    top: 400px;
    left: 518px;
    /* the following code is from SkillCrush: */
    margin-top:-60px;
    margin-left:-65px;
    font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #222;
    text-transform: uppercase;
}

.fadein {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 3000ms;
    transition-timing-function: ease-in;
}

question-btn {
    /* the following is also from SkillCrush */
    font: 26px 'Montserrat', Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border: none;
    color: #f8f8f8;
    background-color: #f16059;
    padding: 10px 75px;
    display: block;
    margin: 0 auto;
}

/*** FOOTER ***/

footer {
    text-align: center;
    text-transform: lowercase;
    font-size: 0.8em;
}